Libros DataVis/
.gitignore
Tareas/Tarea 3/AYearInGraphicDetail2020.pdf
Tareas/Tarea 3/AYearInGraphicDetail2018-2019.pdf
Tareas/Tarea 3/datos_ext
datos/educacion/Matricula-por-estudiante-2021/20210913_Matrícula_unica_2021_20210430_WEB.CSV
datos/educacion/Matricula-por-estudiante-2021/ER_Matrícula_por_alumno_PUBL_MRUN_WEB.pdf
